################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/EU-Module-1/bin
/EU-Module-1/obj
